<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Backbone.js Library</title>
        <link rel="stylesheet" href="css/screen.css">
    </head>
    <body>
	<script id="bookTemplate" type="text/template">
		<img src="<%= coverImage %>"/>
		<ul>
			<li><%= title %></li>
			<li><%= author %></li>
            <li><%= $.format.date( new Date( releaseDate ), 'MMMM yyyy' ) %></li>
			<li><%= keywords %></li>
            <li><% _.each( keywords, function( keyobj ) {%> <%= keyobj.keyword %><% } ); %></li>
		</ul>

    <button class="delete">Delete</button>
</script>
        <script src="js/lib/jquery-dateFormat"></script>
        <script src="js/lib/jquery-2.1.1.js"></script>
        <script src="js/lib/underscore.js"></script>
        <script src="js/lib/backbone.js"></script>
        <script src="js/models/book.js"></script>
        <script src="js/collections/library.js"></script>
        <script src="js/views/book.js"></script>
        <script src="js/views/library.js"></script>
        <script src="js/app.js"></script>
		<div id="books">
		<div class="bookContainer">

    <button class="delete">Delete</button>
</div>
    <form id="addBook" action="#">
        <div>
            <label for="coverImage">CoverImage: </label><input id="coverImage" type="file" />
            <label for="title">Title: </label><input id="title" type="text" />
            <label for="author">Author: </label><input id="author" type="text" />
            <label for="releaseDate">Release date: </label><input id="releaseDate" type="text" />
            <label for="keywords">Keywords: </label><input id="keywords" type="text" />
            <button id="add">Add</button>
        </div>
    </form>
</div>
    </body>
</html>